{
    "Db": {
        "Database": "ssllab-test-db",
        "Host":     "localhost",
        "Port":     26257,
        "User":     "simple_user"
    },
    "Server": {
        "Host": "localhost",
        "Port": 3000,
        "Timeout": 60000
    },
    "Fetcher" : {
        "Domain" : "https://api.ssllabs.com/api/v3/analyze?host=",
        "SleepTime": 10
    }
}